<nav class="site-nav">
	<header>
		<a href="/" class="logo">
			<img src="assets/img/logo.png" alt="">
			<h2 class="title-menu menu-desc">DENIS NUNES</h2>
		</a>
		<h3 class="title-menu menu-subdesc">FRONTEND DEVELOPER</h3>
		<ul class="menu-items">
			<li><a href="#">SEARCH</a></li>
			<li><a href="#">&equiv;</a></li>
		</ul>
	</header>

	<div class="menu-pages">
		{% for page in site.pages %}
			{% if page.title %}
				<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
			{% endif %}
		{% endfor %}
	</div>

</nav>

