$color-white = #fff
$color-dark-blue = #22313F
$color-deep-yellow = #F39C12
$color-smoke = #999

$font-menu = Oswald, sans-serif;
$font-title = 'Open Sans', Arial, Helvetica;
$font-base = Arial, Helvetica, Tahoma;


$title1 = rem(45px)
$title2 = rem(35px)
$title3 = rem(30px)
$title4 = rem(25px)
$font-md = rem(16px)
$font-sm = rem(14px)
$font-xs = rem(10px)

//cut = 47.87rem
cut = 37.5rem

$screen-xs = 480px // Extra small screen
$screen-sm = 768px // Small screen
$screen-md = 992px // Medium screen
$screen-lg = 1200px // Large screen
$screen-xlg = 1600px // Extra Large screen
$screen-xxlg = 1900px // Extra Large screen

$screen-xs-max = ($screen-sm - 1)
$screen-sm-max = ($screen-md - 1)
$screen-md-max = ($screen-lg - 1)
$screen-lg-max = ($screen-xlg - 1)
$screen-xlg-max = ($screen-xxlg - 1)
